APP_ENV=local
APP_NAME=product-service
APP_PORT=8080
DB_DSN=postgresql://postgres:postgres@postgres:5432/ecommerce?sslmode=disable
JWT_SECRET=test
JWT_STATIC=test-static-key

WAREHOUSE_SERVICE_URL=http://warehouse:8080/api